
.droppable {
	opacity: 0;
	margin: 5px 0 5px 0;
	visibility: collapse;
	height: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow: hidden;
}

.child-card {
	margin: 0 0 0 10px;
}


.ui-state-active {
	opacity: 1.0;
	height: 30px;
	visibility: visible;
}
.ui-state-highlight {
}
.ui-draggable-dragging {
	z-index: 100000;
}

.modal {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	border-radius: 6px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
}

.modal h2 { margin-top: 0; }

.modal .close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	opacity: 0.8;
	transition: all 200ms;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #777;
}

.modal .close:hover { opacity: 1; }

.modal .content {
	max-height: 400px;
	overflow: auto;
}

.modal p {
	margin: 0 0 1em;
	text-align: center;
}

.modal p:last-child { margin: 0; }

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;
	display: none;
	pointer-events: none;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.colour-selected {
	background: #ffffff;
}

#chat-box {
	overflow-y: scroll;
	overflow-x: hidden;
	height:75%;
}

#chat-message {
	width: 100%;
	position: absolute;
	bottom: 1%;
	border:2px solid teal;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}


.card-edit-form, .card-edit-form input, .card-edit-form textarea {
	border: none;
	font-size: inherit;
	font-weight: inherit;
	background-color: inherit;
	xvertical-align: inherit;
	font-family: inherit;
	text-align: center;
	xcolor: #444;
	padding: 0;
	margin: 0;
	outline-width: 0;
	overflow: hidden;
	resize: none;
	width: 100%;
}

.selected {
	background-color:rgba(0, 0, 0, 0.5);
}

#idea-input {
	background-color: grey;
	border:1px solid #777;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

/*
#main-screen {
transform: scale(1.0, 1.0);
-moz-transform: scale(1.0,1.0);
-webkit-transform: scale(1.0,1.0);
-o-transform: scale(1.0,1.0);
-ms-transform: scale(1.0,1.0);
}*/

.boundary {
	border: 5px solid #424242;
	margin: 10px;
	width: 2500px;
	height: 1800px;
	position: absolute;
	opacity: 0.45;
}

#main-container {
	position: absolute;
	overflow:scroll;
	height:90%;
	width:100%;
	/*background-color: #eeeeee;*/
	background-image: url("./bg/p0113_s.png");
	background-repeat:repeat;
}
@media only screen and (max-width : 992px) {
	#main-container {
		padding-left: 0;
	}
}

#neko {

}


